/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
/* Main */

body {
  background-color: #000;
  overflow-x: hidden;
}

.logo {
  position: absolute;
  top: 21px;
  left: 60px;
}

.main {
  background-image: url(../images/iphone-bg.png);
  background-size: cover;
  height: 101vh;
  overflow-x: hidden;
}

.main h1 {
  font-size: 45px;
  font-weight: 400;
  position: relative;
  top: 307px;
  left: 60px;
}

.main h1::after {
  display: block;
  content: "";
  border: 3px solid white;
  width: 590px;
}

.btnGetToKnow {
  background-color: #942878;
  text-align: center;
  padding: 20px 16px;
  font-size: 40px;
  border-radius: 14px;
  border: none;
  box-shadow: 0px 5px 21px black;
  position: absolute;
  bottom: 60px;
  right: 110px;
  text-decoration: none;
}
.btnGetToKnow:hover {
  background: #bf3199;
  cursor: pointer;
}

.whatsappFixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background-color: #25d366;
  border-radius: 50%;
  font-size: 35px;
  box-shadow: 1px 1px 10px #3ae177;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.whatsappFixed:hover {transform: scale(1.04);}

.whatsappFixed > i {transform: translateY(-20%);}

@media (max-width: 890px) {
  .logo img {
    width: 200px;
  }
  .main h1 {
    font-size: 25px;
    left: 35px;
  }
  .main h1::after {
    width: 325px;
  }
  .btnGetToKnow {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .main h1 {
    font-size: 18px;
  }
  .main h1::after {
    width: 235px;
    border: 2px solid;
  }
  .btnGetToKnow{
    left: 50%;
    transform: translateX(-50%);
    padding: 13px;
    font-size: 18px;
    width: 260px;
  }
}

/* Products */

.products {
  background-color: #000;
  min-height: 80vh;
  width: 100%;
  box-shadow: 0px -30px 10px #000;
}

.main-subtitle {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2.5rem;
  color: #fff;
  margin-top: 20px;
}

.emmetProduct {
  margin: 0 auto;
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}

.anchorProduct {
  text-decoration: none;
  transition: transform linear 0.2s;
}

.anchorProduct:hover {
  transform: scale(1.02);
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  height: 270px;
  width: 270px;
  border-radius: 50px;
}

.product-item img {
  max-width: 250px;
  position: relative;
  bottom: 1rem;
}

.product-item h3 {
  position: relative;
  bottom: 2rem;
}

@media (max-width: 1460px) {
  .lastProduct {
    margin-bottom: 2rem;
  }
}

/* About */

.section-light {
  background-color: #ccc;
  padding: 10px 15px 60px 15px;
  box-shadow: 0px -5px 10px #ccc;
}

.main-subtitle.-black {
  color: #000;
}

.main-paragraph {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* ourStore */

.ourStore {
  box-shadow: 0px -25px 10px #000;
  min-height: 70vh;
}

.main-subtitle.-store {
  color: #fff;
}

.main-paragraph.-store {
  color: #fff;
  text-align: center;
  max-width: 800px;
}

.slider {
  margin: 30px auto;
  width: 90%;
  max-width: 800px;
  height: 550px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 550px;
  display: flex;
}

.slides .hidden-radio {
  width: 0;
  height: 0;
}

.slide-img {
  width: 20%;
  position: relative;
  transition: 1s;
}

.slide-img img {
  width: 800px;
  min-height: 100%;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  max-width: 800px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

.btn-manual {
  border: 2px solid #fff;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.btn-manual:hover {
  background-color: #fff;
}

.btn-manual:not(:last-child) {
  margin-right: 40px;
}

#radio-image1:checked ~ .first {
  margin-left: 0;
}

#radio-image2:checked ~ .first {
  margin-left: -20%;
}

#radio-image3:checked ~ .first {
  margin-left: -40%;
}

#radio-image4:checked ~ .first {
  margin-left: -60%;
}

#radio-image5:checked ~ .first {
  margin-left: -80%;
}

.btn-auto {
  border: 2px solid #fff;
  padding: 6px;
  border-radius: 50%;
}

.btn-auto:not(:last-child) {
  margin-right: 40px;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  max-width: 800px;
  margin-top: 520px;
  display: flex;
  justify-content: center;
}

#radio-image1:checked ~ .navigation-auto .btn-auto.-one {
  background-color: #fff;
}

#radio-image2:checked ~ .navigation-auto .btn-auto.-two {
  background-color: #fff;
}

#radio-image3:checked ~ .navigation-auto .btn-auto.-three {
  background-color: #fff;
}

#radio-image4:checked ~ .navigation-auto .btn-auto.-four {
  background-color: #fff;
}

#radio-image5:checked ~ .navigation-auto .btn-auto.-five {
  background-color: #fff;
}

@media (max-width: 500px) {
  .slider,
  .slides,
  .navigation-auto {
    max-height: 300px;
  }

  .slide-img img {
    width: 100%;
  }

  .navigation-auto {
    margin-top: 270px;
  }
}

/* How To Find Us */

.section-light.-howToFind {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-light.-howToFind a,
.section-light.-howToFind p,
.section-light.-howToFind i {
  color: #000;
  font-size: 1.3rem;
  transition: 0.3s;
}

.section-light.-howToFind a:hover {
  transform: scale(1.03);
}

.section-light.-howToFind i {
  font-size: 2rem;
  margin-right: 7px;
}

.fa-whatsapp,
.fa-instagram {
  position: relative;
  top: 6px;
}